<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
    <link type="text/css" rel="stylesheet" href="/libs/webix/webix.css">
    <link type="text/css" rel="stylesheet" href="/css/tasks.css">
    <script src="/libs/webix/webix.js"></script>
    <script src="/libs/routie.min.js"></script>
    <script data-main="js/index" src="libs/require.min.js"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.2.95/css/materialdesignicons.css" type="text/css" charset="utf-8">
    <link rel="shortcut icon" href="#"/>
    <style>body {
        margin: 0
    }</style>

</head>
<body>


<div id="app"></div>


</body>
</html>